PROJECT_NAME="MedBrief"
VERSION="0.1.0"
API_V1_STR="/api/v1"

POSTGRES_USER="postgres"
POSTGRES_PASSWORD="admin"
POSTGRES_DB="medbrief_db"
POSTGRES_DSN="postgresql+asyncpg://postgres:admin@localhost:5432/medbrief_db"

CELERY_BROKER_URL="redis://localhost:6379/0"
CELERY_BACKEND_URL="redis://localhost:6379/1"

GEMINI_API_KEY=